/* bangers-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bangers";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bangers-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fredoka-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fredoka-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fredoka-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fredoka-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$font-family-pokemon: "Bangers", sans-serif;
$font-family-header: "Fredoka", sans-serif;

$color-header: #ffcd0d;
$color-font-color: #ffffff;
$color-border: #000000;
$color-bg-dark: #1a1a2e;
$color-bg-light: #03034f;
$color-text-light: #ffffff;
$color-text-dark: #a9a9b3;
$color-background: #16213e;
$color-input-bg: #e8dcae;
$color-red-pokeball: rgb(254, 0, 1);
$color-white-pokeball: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-font-color;
}

.max-width {
  max-width: 1920px;
}

.d-none {
  display: none;
}

html,
body {
  height: 100%;
  font-family: $font-family-header;
  color: $color-font-color;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #16213e;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    p {
      margin: 0;
      font-size: 1.2rem;

      a {
        color: #ffcd0d;
        text-decoration: underline;

        &:hover {
          color: lighten(#ffcd0d, 10%);
        }
      }
    }
  }

  .btn-design {
    background-color: $color-header;
    border: 0.15rem solid $color-border;
    border-radius: 8px;
    color: $color-bg-dark;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;

    &:hover {
      background-color: lighten($color-header, 10%);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 8px $color-border;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

header {
  display: flex;
  justify-content: center;
  background: $color-bg-dark;
  width: 100%;

  #head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 1.2rem 0;

    a {
      display: flex;
      gap: 1rem;

      img {
        width: 4rem;
        aspect-ratio: 1/1;
      }

      h1 {
        font-family: "Bangers", sans-serif;
        font-size: 4rem;
        color: $color-header;
      }
    }

    #searching-area {
      #search-input {
        border: 0.15rem solid $color-header;
        border-radius: 8px;
        padding: 0.4rem;
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
        background-color: $color-input-bg;

        &::placeholder {
          color: $color-border;
          opacity: 0.4;
        }

        &:focus {
          caret-color: $color-red-pokeball;

          &::placeholder {
            transform: translateY(-30px);
            font-size: 0.9rem;
            opacity: 0.7;
            transition: transform 0.3s, font-size 0.3s, opacity 0.3s;
          }
        }
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $color-bg-light;

  #main-container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    #loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
      display: none;
      display: flex;
      justify-content: center;
      align-items: center;

      #loadingPokeball {
        height: 8rem;
        aspect-ratio: 1 / 1;
        background: linear-gradient(
          to bottom,
          $color-red-pokeball 50%,
          $color-white-pokeball 50%
        );
        border-radius: 50%;
        border: 0.5rem solid $color-border;
        animation: spin 2.5s linear infinite;

        &::before {
          content: "";
          position: absolute;
          height: 0.6rem;
          width: 7.5rem;
          background: $color-border;
          top: 50%;
          transform: translateY(-50%);
        }

        &::after {
          content: "";
          position: absolute;
          height: 2rem;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          background: $color-white-pokeball;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-shadow: inset 0 0 0 8px $color-border,
            inset 0 0 0 10px $color-white-pokeball,
            inset 0 0 0 12px $color-border;
        }
      }
    }

    #pokemon-card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;

      .pokemon-card {
        border: 2px black solid;
        width: 15rem;
        border-radius: 2rem;
        padding: 1rem;
        text-align: justify;
        transition: transform 0.3s, filter 0.3s;

        #pokemon-img {
          width: 100%;
          aspect-ratio: 1/1;
        }

        .types {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .type {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.2rem 0.4rem 0.5rem 0.4rem;
            border-radius: 1rem;
            box-shadow: 1px 1px 1px black, -1px -1px 1px white;
            width: 6rem;
            gap: 0.5rem;

            .type-icon {
              width: 1.5em;
              aspect-ratio: 1/1;
              border: 1px solid rgba(0, 0, 0, 0.3);
              box-shadow: 1px 1px 1px black;
              border-radius: 50%;
            }

            p {
              text-shadow: 1px 1px 1px black;
            }
          }
        }

        &:hover {
          cursor: pointer;
          filter: brightness(0.9);
          transform: scale(1.1);
        }
      }
    }

    #load-more-btn {
      margin-top: 2rem;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;

  #card-container-border {
    background: linear-gradient(to right, #979b9e, #dcdedf, #979b9e);
    padding: 0.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    min-width: 21rem;
    aspect-ratio: 1/1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-border;

    #card-container-border-arrow-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0.5rem 0;
      img {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6),
          -2px -2px 6px rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        width: 4rem;
        aspect-ratio: 1/1;

        &:nth-child(2) {
          transform: rotate(180deg);
          box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6),
            -2px -2px 6px rgba(0, 0, 0, 0.6);
        }
      }
    }

    #card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 98%;
      width: 98%;
      border-radius: 1rem;

      #card-container-name-id {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem 0 0.5rem 0;
        color: whitesmoke;
        font-size: 1.5rem;
        font-family: $font-family-header;
        text-shadow: 1px 1px 3px black;
      }

      #card-container-types {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        aspect-ratio: 1/1;
        gap: 1rem;

        .type {
          height: auto;
          width: auto;
          display: flex;
          gap: 0.5rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 1rem;
          padding: 0.2rem;

          .type-icon {
            height: 1.5rem;
            aspect-ratio: 1/1;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 50%;
          }
        }
      }

      #card-container-img-container {
        width: 100%;
        display: flex;
        justify-content: center;

        #card-container-img {
          width: 5rem;
          aspect-ratio: 1/1;
        }
      }

      #big-pokemon-card {
        height: 60%;
        width: 100%;
        background-color: rgb(227, 227, 227);
        border-radius: 2rem 2rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0;

        #big-pokemon-card-sections {
          display: flex;
          justify-content: space-between;
          margin: 0.5rem 2rem;

          p {
            font-family: $font-family-pokemon;
            font-size: 1.5rem;
            cursor: pointer;
          }
        }

        #about,
        #stats {
          table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border: 1px solid black;

            td {
              border: 1px solid transparent;
              padding: 4px;
              text-align: left;
            }

            tr td:first-child {
              width: 30%;
              font-weight: bold;
            }

            tr td:last-child {
              width: 80%;
            }

            tr:nth-child(odd) {
              background-color: whitesmoke;
            }

            tr:nth-child(even) {
              background-color: transparent;
            }

            .progress-bar-container {
              width: 100%;
              height: 20px;
              background-color: #e0e0e0;
              border-radius: 10px;
              overflow: hidden;
              position: relative;
              border: 1px solid rgba(0, 0, 0, 0.1);
            }

            .progress-bar {
              height: 100%;
              background-color: $color-header;
              border-radius: 10px 0 0 10px;
              position: relative;
            }

            .progress-bar span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $color-border;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
        #evolution {
          width: 100%;
          height: 100%;
          table {
            margin-top: 4rem;
            width: 100%;
            tbody {
              display: flex;
              justify-content: space-between;
              align-items: center;
              tr {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                td {
                  img {
                    object-fit: fill;
                    height: 80px;
                    width: 80px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: $color-bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  #footer-content {
    margin: 1rem 0;
    text-align: center;

    #footer-links {
      font-size: 1rem;
      color: $color-text-light;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1920px) {
  header,
  main,
  footer {
    padding: 0 2rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }
  header {
    #head-container {
      a {
        img {
          width: 3rem;
        }
        h1 {
          display: none;
        }
      }
    }
  }
}
